* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-size: 62.50%;
     text-decoration: none;
     text-transform: none;
}

#main {
     width: 100vw;
     max-width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #e6e6ea;
     display: flex;
     align-items: center;
     justify-content: center;
}

#quote-box {
     position: relative;
     width: 75%;
     padding-bottom: 50%;
     background: #f4f4f8;
     border-radius: 1rem;
     display: flex;
     flex-direction: column;
}


#quote-box--content {
     width: 80%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: grid;
     grid-template-rows: 1fr 3rem;
}

#text {
     align-self: center;
     justify-self: center;
     font-size: 2rem;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-indent: 3rem;
     line-height: 1.3;
}

#text::before {
     content: '\201C   '; 
}

#text::after {
     content: '   \201D'; 
}

#author {
     align-self: flex-end;
     justify-self: flex-end;
     font-size: 1.2rem;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#author:before {
     content: ' - ';
}

.btn {
     border-radius: 1rem;
     font-size: 1.4rem;
     text-align: center;
     padding: 1rem 1rem;
     cursor: pointer;
}

#tweet-quote {
     position: absolute;
     bottom: 3vw;
     left: 5%;
     color: white;
}

#tweet-quote i {
     font-size: 3rem;
     color: #0181E2;;
}

#new-quote {
     position: absolute;
     bottom: 3vw;
     right: 5%;
     border: none;
     background-color: #fed766;
     color: #39393a;
};

input#new-quote:hover{
     color: white !important;
}

@media only screen and (max-width: 600px) {
     #quote-box {
          width: 85%;
          padding-bottom: 70%;
     }
}

@media only screen and (max-width: 480px) {
     #quote-box {
          width: 100%;
          height: 100%;
          padding: 0;
     }

     #quote-box--content {
          top: 40%;
          left: 50%;
     }
}

@media only screen and (max-height: 800px) {
     #quote-box {
          width: 100%;
          height: 100%;
          padding: 0;
     }

     #quote-box--content {
          top: 40%;
          left: 50%;
     }
}

